*{
  border: none;
  text-decoration: none;
  outline: none;
  list-style: none;
  background: transparent;
}

tr:nth-child(2n){
  background-color: #3bf67938;
}

.muncang td{
  padding: 10px;
  border: 1px solid ;
}





 /* Tidak mematikan seleksi teks, tetapi mengatur ulang interaksi */
 body {
  -webkit-user-select: text; /* Untuk Chrome, Safari */
  -moz-user-select: text;    /* Untuk Firefox */
  -ms-user-select: text;     /* Untuk Edge */
  user-select: text;         /* Untuk browser modern */
}

/* Menu khusus untuk teks */
#customMenu {
  position: absolute;
  display: none;
  background: #007BFF;
  color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}